@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  margin: 20px;
  padding: 10px;
  background-color: rgb(70, 41, 151);
  font-size: 30px;
  font-family: 'New Tegomin', serif;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin: 1rem;
  padding: 1rem;
  font-size: 2em;
  font-style: italic;
  font-variant: small-caps;
}
form{
  margin: 1.5rem;
}
input{
  width: 500px;
  height: 20px;
  padding: 1em;
  margin: 5px;
  border-radius: 15px;
}
input:focus{
  outline: none;
}
button{
  margin: 0, 5px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(72, 69, 75);
  border: 2px solid rgb(40, 35, 44);
}
.todo{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: inherit;
}
.checked{
  text-decoration: line-through;
}
.clear{
  right: 0;
  padding: 5px 10px;
}
.lists{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lists:nth-child(even){
  background-color: ivory;
}
.lists .clear-list{
  margin: 2rem;
}